<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Categoriyalar</h2>
<div style="display: flex; padding-left: 10px">
{% for category in categories %}

    <p>{{ category.name }}</p>
    {% if category.image %}
    <img src="{{ category.image.url }}" style="width: 100px">
    {% endif %}

{% endfor %}
    </div>

<div>
    <h2>Productlar</h2>
    {% for product in products %}
    <hr>
    <p>Product nomi: {{ product.name }}</p>
    {% if product.image %}
    <img src="{{ product.image.url }}" style="width: 100px">
    {% endif %}
    <p>Product haqida: {{ product.description }}</p>
    <p>Product categoriyasi: {{ product.category }}</p>
    <p>Narhi: {{ product.price }}</p>
    {% endfor %}
</div>

</body>
</html>